.box{
    margin: auto;
    background-color: blueviolet;
    padding: 2rem;
    border-radius: 1rem;
    color: #fff;
}

input{
    border: none;
    outline: none;

}

button{
    border: none;
    outline: none;
}
li{
    list-style-type: none;
    padding-top: .3rem;
}

.addBtn:hover{
    color: rgb(255, 255, 255);
    background-color: black;
    transition: .4s all ease-in;
}

.trash{
    margin-left: .5rem;
}

.completed{
    text-decoration: line-through;
}

.placeholder{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.hint { 
    font-size: smaller;
    display: flex;
    justify-content: end;
}