.box{
    margin: auto;
    background-color: blueviolet;
    padding: 2rem;
    border-radius: 1rem;
    color: #fff;
}

input{
    border: none;
    outline: none;

}

button{
    border: none;
    outline: none;
}